*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    /* height: 100%; */
    width: 100%;
    background-color: azure;
    display: flex;
    justify-content:space-evenly;
    padding: 30px;
    gap: 15px;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-grow: 1;
}
.card{
    width: 300px;
    height: 400px;
    background-color:whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px 30px;
    text-align: center;
    box-shadow: 4px 2px 10px 0px black;
    border-radius: 15px;
    margin-bottom: 10px;
}
.card img{
    object-fit:cover;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}
.card h2{
    font-size: 28px;
}
.card p{
    font-size: 18px;
}
.card button{
    padding: 10px 13px;
    font-size: 18px;
    background-color: lightblue;
    border: none;
    border-radius: 20px;
    color: white;
}
.card button:hover{
    background-color: blue;
    color: black;
}